{% extends "base.html" %}
{% load static %}
{% block title %}
    Mi perfil
{% endblock title %}

{% block slider%}
<!-- hero
    ================================================== -->
    <section id="hero" class="s-hero">

      <div class="s-hero__slider">

          <div class="s-hero__slide">

              <div class="s-hero__slide-bg" style="background-image: url('{% static 'assets/images/slide10-bg-3000.jpg' %}');"></div>

              <div class="row s-hero__slide-content ">
                  <div class="column">
                      <h1 class="s-hero__slide-text">
                          <a href="#0">
                            Mi perfil
                          </a>
                      </h1>
                  </div>
              </div>

          </div> <!-- end s-hero__slide -->

      </div> <!-- end s-hero__slider -->
  </section> <!-- end s-hero -->
{% endblock slider%}

{% block content %}
    <div class="row">
        <div class="column large-8">
            <div class="card card-profile">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            {% if request.user.userextra.avatar %}
                                <img src="{{ request.user.userextra.avatar.url }}" class="rounded-circle" style="max-width:300px">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h5 class="h3">
                        {{ user.first_name }} {{ user.last_name }}
                    </h5>
                    <div class="h5 font-weight-300">
                        {{ user.email }}
                    </div>
                    <div class="h5 mt-4">
                        <i class="ni business_briefcase-24 mr-2"></i>{{ user.userextra.descripcion }}
                    </div>
                    <div>
                        <i class="ni education_hat mr-2"></i><a href="{{ user.userextra.web }}" target="_blank">{{ user.userextra.web }}</a>
                    </div>
                </div>
                <br>
                <a class="btn btn--stroke" href="{% url 'profile_edit' %}">Editar perfil</a>
                <a class="btn btn--stroke" href="{% url 'change_pass' %}">Cambiar contraseña</a>
            </div>
        </div>
    </div> <!-- end row -->
{% endblock content %}