{% load static %}
    
<div class="s-header__logo">
    <a class="logo" href="{% url 'index' %}">
        <img src="{% static 'assets/images/logo3.png' %}" alt="Inicio">
    </a>
</div>

<div class="row s-header__navigation">

    <nav class="s-header__nav-wrap">

        <h3 class="s-header__nav-heading h6"></h3>

        <ul class="s-header__nav">
            <li {% if 'index' in segment %} class="current" {% endif %}><a href="{% url 'index' %}" title="">Inicio</a></li>
            <li {% if 'about' in segment %} class="current" {% endif %}><a href="{% url 'about' %}" title="">Acerca de mí</a></li>
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <li {% if 'blogpost' in segment %} class="current" {% endif %}><a href="{% url 'blogpost' %}" title="">Crear post</a></li>
                {% endif %}
                <li {% if 'profile' in segment %} class="current" {% endif %}><a href="{% url 'profile' %}" title="">Mi Perfil</a></li>
                <li {% if 'messages' in segment %} class="current" {% endif %}><a href="{% url 'messages' %}" title="">Mensajes</a></li>
                <li {% if 'logout' in segment %} class="current" {% endif %}><a href="{% url 'logout' %}" title="">Desloguear</a></li>
            {% endif %}
        </ul> <!-- end s-header__nav -->

        {{ segment }}

        <a href="#0" title="Close Menu" class="s-header__overlay-close close-mobile-menu">Cerrar</a>

    </nav> <!-- end s-header__nav-wrap -->

</div> <!-- end s-header__navigation -->

<a class="s-header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

<a class="s-header__search-trigger" href="{% if not user.is_authenticated %} {% url 'login' %}{% else %}{% url 'profile' %}{% endif %}">
    {% if not user.is_authenticated %}
        <h5>Iniciar sesión</h5>
    {% else %}
        {% if request.user.userextra.avatar %}
            <img src="{{ request.user.userextra.avatar.url }}" style=""/>
        {% endif %}
        <h5>Hola <strong>{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</strong></h5>
    {% endif %}
</a>

    